* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier 10 Pitch", Courier, monospace;


}

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}


body {

    background: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* ensures smooth scrolling */
    background-size: cover;
    /* stretch to cover entire screen */
    display: flex;
    justify-content: center;
    align-items: center;
}

.formdiv {
    width: 25vw;
    height: 35vh;
    border: 1px solid black;
    background: rgba(255, 255, 255, .1);
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(50px);
    border-radius: 10px;
    color: #fff;
    padding: 2%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.formsignin {
    width: 45vw;
    height: 70vh;


}

.formsignin form {
    width: 100%;
}

.errorlist {
    width: 100%;
    text-align: left;
    color: red;
    font-weight: bolder;
    margin-bottom: 10px;
}

#formsignin div {
    width: 100%;
}

.loginForm {
    width: 100%;
}

.formdiv input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5%;
    border: none;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(50px);
    transition: box-shadow 1s;
}

.formdiv input:hover {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);

}



.logButton {
    width: 100%;
    padding: 3%;
    border: none;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(50px);
    transition: padding 0.8s, font-size 0.8s;

}

.logButton:hover {
    padding: 5%;
    font-size: 1rem;
}

.formdiv a {
    width: 100%;
}

#login {
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
}

#signup {
    background-color: initial;
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.helptext {
    color: red;
    display: none;
}