{% extends 'main.html' %}

{%block content%}
<section class="grid">
    <section class="innergrid">
        <div class="form">
            <form action="{% url 'landingpage' %}" method="post" class="bookdetail">
                {%csrf_token%}

                {{DocumentForm}}
                <button type="submit">summarized</button>

            </form>
        </div>



        <div class="summarized">
            {% for data in cur_history%}
            {{data.summary | linebreaksbr}}
            {%endfor%}

        </div>
        {% include 'AI/book_nav.html'%}
    </section>

</section>

{%endblock%}